@import "core.scss";
a:focus{
	outline: none;
}



header {

}

/*-------------------Section Pick Rooms -----------------------*/
.pick_room {
	@include inline-block;
	background: $color-white;
	padding-top: 2%;
	padding-bottom: 4%;
	.room_title {
		@include name-section(3px, $color-yellow, 36px, $font-GothamLight, $text-dark-grey, $text-transform-up);
		@media (max-width: $screen-xs-max) {
			@include name-section(3px, $color-yellow, 24px, $font-GothamLight, $text-dark-grey, $text-transform-up);
		}
	}
	.rowRooms {
		@include inline-block;
		margin-top: 30px;
		.left_laboratory {
			padding-left: 0;
			.laboratory{
				min-width: 320px;
				height: 250px;
				background: url("../img/our-rooms/laboratory.jpg") no-repeat top;
				&:hover {
					background-position: bottom;
				}
			}
		}
		.right_kruger {
			@media (max-width: $screen-sm-max) {
				padding-left: 0;
				margin-top: 20px;
			}
			.kruger {
				min-width: 320px;
				height: 250px;
				background: url("../img/our-rooms/kruger.jpg") no-repeat top;
				&:hover {
					background-position: bottom;
				}
			}
		}

	}
}


/*-------------------Section Rules And Accordion -----------------------*/
.rules {
	.title_rules {
		@include name-section(3px, $color-yellow, 36px, $font-GothamLight, $text-dark-grey, $text-transform-up);
		@media (max-width: $screen-xs-max) {
			@include name-section(3px, $color-yellow, 24px, $font-GothamLight, $text-dark-grey, $text-transform-up);
		}
	}
	.rowPlayers {
		@include inline-block;
		margin-top: 25px;
		font: 15px/20px $font-GothamReg, sans-serif;
		color: $text-dark-grey;
		.left {
			padding-left: 0;
		}
		.right {
			padding-right: 0;
			@media (max-width: $screen-xs-max) {
				padding-left: 0;
			}
		}
		img {
			margin-bottom: 7px;
		}
	}
	.rowTime {
		@include  inline-block;
		@extend .rowPlayers;
		margin-top: 5px;
	}

	/*----Accordion -----*/
	.panel-group {
		margin-bottom: 7%;
		margin-top: 3%;
		.panel {
			border: 0;
			box-shadow: none;
			margin-top: 0;
			.panel-heading {
				padding: 0 0 0 30px;
				@media (max-width: $screen-xs-max) {
					padding-left: 10px;
				}
				border-top-right-radius: 0;
				border-top-left-radius: 0;
				border-top: 1px solid $color-grey;
				border-bottom: 0;
				background: #fff;
				a {
					@include inline-block;
					text-decoration: none;
					font: 18px/48px $font-GothamReg, sans-serif;
					color: $text-dark-grey;
					@media (max-width: 525px) {
						line-height: 24px;
						font-size: 16px;
					}
					.sprite, .FAQ {
						padding: 0;
					}
				}
				.sprite_accordion {
					display: inline-block;
					float: right;
					width: 20px;
					height: 20px;
					margin: 14px 14px 0 0;
					background: url('../img/accordion/sprite_accordion.png') no-repeat top right;
					@media (min-width: 403px) and (max-width: 525px) {
						margin-top: 4px;
					}
				}

			}
			.panel-heading#headingOne {
				background: $color-yellow;
				.sprite_accordion {
					background-position: bottom;
				}
			}
			.panel-heading#headingFour {
				border-bottom: 1px solid #f3f3f3;
			}
			.panel-body {
				background: $color-grey;
				font: 15px/20px $font-GothamReg, sans-serif;
				padding: 15px 15px 15px 30px;
				@media (max-width: $screen-xs-max) {
					padding-left: 10px;
				}
				a {
					border-bottom: 1px solid #d1daed;
					text-decoration: none;
				}
			}
		}
		.panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
			border-top: 0;
		}
	}
}

/*-------------------Section Write Letter -----------------------*/
.write_letter {
	background: $color-yellow;
	@include inline-block;
	.questions {
		color: $text-dark-grey;
		margin: 5% 0;
		@media (max-width: $screen-sm-max) {
			text-align: center;
		}
		h2 {
			font: 36px $font-GothamLight, sans-serif;
			@media (max-width: $screen-xs-max) {
				font-size: 20px;
			}
			text-transform: $text-transform-up;
		}
		p {
			font: 15px/20px $font-GothamReg, sans-serif;
			margin-top: 15px;
			span {
				font-family: $font-GothamBold;
			}
		};
	}
	.button_write {
		margin-top: 10%;
		@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
			margin-top: 11%;
		}
		@media (max-width: $screen-sm-max) {
			margin-top: 3%;
			padding-bottom: 7%;
		}

		a {
			@include button($color-yellow, $color-border-button, $text-button, 7px, $text-transform-up);
			&:hover {
				background-color: $color-dark-grey;
				color: $color-yellow;
			}
		}
	}
}


/*-------------------Section Gallery -----------------------*/
.gallery {
	@include inline-block;
	background: $color-white;
	margin-top: 100px;
	margin-bottom: 100px;
	.photos_title {
		@include name-section(3px, $color-yellow, 36px, $font-GothamBlack, $text-dark-grey, none);
		@media (max-width: $screen-xs-max) {
			@include name-section(3px, $color-yellow, 24px, $font-GothamBlack, $text-dark-grey, none);
		}
	}
	.rowPhotos {

		@include inline-block;
		img {
			width: 100%;
			margin-top: 30px;
		}
	}
}

/*-------------------Section reviews -----------------------*/
.people_say {
	@include inline-block;
	background: $color-grey;
	padding-top: 100px;
	padding-bottom: 100px;
	.people_title {
		border-left: 3px solid $color-yellow;
		@include name-section(3px, $color-yellow, 36px, $font-GothamBlack, $text-dark-grey, none);
		@media (max-width: $screen-xs-max) {
			@include name-section(3px, $color-yellow, 24px, $font-GothamBlack, $text-dark-grey, none);
		}
	}
	.more {
		@include button($color-yellow, $color-yellow, $text-button, 7px, $text-transform-up);
	}
}

/*-------------------Modal -----------------------*/
.popUp {
  	max-width: 50%;
  	@media (min-width: $screen-md-min) {
  		max-width: 660px;
  	}
  	@media (max-width: $screen-sm-max) {
  		max-width: 70%;
  	}
	background: #fff;
	margin: 0 auto;
	margin-top: 10%;
	color: $text-dark-grey; 
	padding: 15px 0 25px;
	cursor: auto; 
	border-radius: 7px;
	.close  {
		width: 19px;
		height: 18px;
		margin-right: 10px;
		opacity:1;
		background: url("../img/popUp-letter/close_popUp.png") no-repeat top;
		&:hover {
			background-position: bottom;
		}
	}
	.content_modal {
		padding: 0 7%;
		p.title_popUp {
		border-left: 4px solid $color-yellow;	
		font: 24px $font-GothamBlack, sans-serif;
		text-transform: $text-transform-up;
		padding: 5px 20px;
		@media (max-width: $screen-xs-max) {
				font-size: 18px;
		}
		}
		.form-control:focus {
			box-shadow: none;
			border: 2px solid #c74040;
		}
		form {
			margin-top: 9%;
			input {
				height: 48px;
				@include placeholder;
			}
			.form_name, .form_left {
				padding-left: 0;
				@media (max-width: $screen-sm-max) {
					padding-right:0;
				}
			}
			.form_email, .form_right {
				padding-right:0;
				@media (max-width: $screen-sm-max) {
					padding-left:0;
				}
			}

			.checkbox {
			  vertical-align: top;
			  margin: 0 3px 0 0;
			  width: 17px;
			  height: 17px;
			}
			.checkbox + label {
			  cursor: pointer;
			}
			.checkbox:not(checked) {
			  position: absolute;
			  opacity: 0;
			}
			.checkbox:not(checked) + label {
			  position: relative; 
			  padding: 0 0 0 60px; 
			}
			.checkbox:not(checked) + label:before {
			  content: '';
			  position: absolute;
			  top: -4px;
			  left: 0;
			  width: 50px;
			  height: 26px;
			  border-radius: 13px;
			  background: #898e91;
			}

			.checkbox:not(checked) + label:after {
			  content: '';
			  position: absolute;
			  top: -2px;
			  left: 2px;
			  width: 22px;
			  height: 22px;
			  border-radius: 10px;
			  background: #FFF;
			  box-shadow: 0 2px 5px rgba(0,0,0,.3);
			  transition: all .2s; 
			}
	
			.checkbox:checked + label:before {
			  background: $text-blue;
			}
			
			.checkbox:checked + label:after {
			  left: 26px;
			}

			#label_checkbox {
				font: 15px $font-GothamReg, sans-serif;
				color: $text-dark-grey;
			}
			.checkbox_form {
				padding: 5% 0 0 11%;
				@media (max-width: $screen-sm-max) {
				padding: 3% 0 4% 2%;
				}
			}
			.checkbox_iphone {
				padding-top: 5px;
				@media (max-width: $screen-sm-max) {
					text-align: right;
					padding-right: 0;
				}
				@media (max-width: $screen-xs-max) {
					padding: 0;
				}
			}
						
			textarea {
				@include placeholder;
				padding-top: 15px;
								
			}
			button {
				@include button($color-yellow,
				 $color-yellow, $text-button,
				  10px,  $text-transform-up );
				&:focus {
					outline: none;
				}
				margin-top: 9%;
				&:active {
					background: $color-yellow;
					border-color: $color-yellow;
					box-shadow: none;
				}

				a {
					text-decoration: none;
					color: $text-button;
				}
			}
		}
		.confidentiality {
			margin-top: 35px;
			margin-bottom: 25px;
			p {
				font: 13px/18px $font-GothamReg, sans-serif;
				color: #808080;
				a {
					@extend p; 
					color: $text-blue;
					border-bottom: 1px solid #dbe4f6;
					text-decoration: none;
					&:hover {
						text-decoration: none;
						border-bottom: 1px solid $text-blue;
					}
				}
			}
		}
	}
}

.form_form, .form_button_up {
		margin-top: 7% !important;
	}


/*--------------- Thanks Page -----------------------*/

.thanks {
	background: $color-white;
	margin-top: 250px;
	@media (max-width: $screen-sm-max) {
		margin-top: 0;
	}
	.rowThanks {
		color: $text-dark-grey;
		@include inline-block;
		h1 {
			font: 36px $font-GothamBlack, sans-serif;
			text-transform: $text-transform-up;
			@media (max-width: $screen-xs-max) {
				font-size: 28px;
			}
		}
		p {
			font: 15px/20px $font-GothamReg, sans-serif;
			text-transform: none;
			color: $text-dark-grey;
			padding-top: 6px;
			a {
				color: $text-blue;
			}
		}
	}
	.rowButtons {
		@include inline-block;
		margin-top: 5%;
		.left_button {
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
			.group_VK {
				@include button(#567ca4, #567ca4, #fff, 7px, $text-transform-up);
			}
		}
		.right_button {
			@media (max-width: $screen-xs-max) {
				text-align: center;
				margin-top: 40px;
				margin-bottom: 20px;
			}
			.return {
				@include button(#f3f3f3, #f3f3f3, $text-button, 7px, $text-transform-up);
			}
		}

	}
}





/*-------------------Section Contacts -----------------------*/
section.contacts {
	margin-top: 5%;
	@include inline-block;
	p {
		margin:0;
	}
	.rowTitle {
		@include inline-block;
		.contact {
			border-left: 4px solid $color-yellow;
			font: 36px/48px $font-GothamBlack, sans-serif;
			color: $color-dark-grey;
			@media (max-width: $screen-xs-max) {
				font-size: 24px;
				text-align: center;
				border: 0;
			}
			p {
				text-transform: $text-transform-up;
			}
		}
		.button_letter {
			margin-top: 17px;
			a {
				@include button($color-yellow,$color-yellow,
								$text-button, 7px,  $text-transform-up);
			}
			@media (max-width: $screen-xs-max) {
				text-align: center;
			}
		}
	}
	.rowContacts {
		@include inline-block;
		margin-top: 40px;
		margin-bottom: 6%;
		.title_contacts {
			@media (max-width: $screen-xs-max) {
				padding-top:10px;
			}
			p {
				font: 13px/20px $font-GothamReg, sans-serif;
				color: $text-grey;
			}
		}
		.adress{
			p{
				font: 15px/24px $font-GothamReg, sans-serif;
				color: $text-dark-grey;
			}

		}
		.phone {
			@extend .adress;
		}
		.email {
			font: 15px/24px $font-GothamReg, sans-serif;
			@media (min-width: $screen-sm-min) and (max-width: 776px) {
				margin-left: -5px;
			}
			a {
				color: $text-blue;
				text-decoration: none;
				cursor: pointer;
			}

		}
	}
}
