//custom 
$text-transform-up: uppercase;


//button
$text-button: #272727;
$color-border-button: #262626;
$radius-button: 10px;

//color text
$text-black: #000;
$text-white: #fff;
$text-grey: #999;
$text-dark-grey: #333;
$text-blue: #4c82d9;

$text-accordion-in: #2e2e33;
$text-placeholder: #808080;

//custom colors
$color-white: #fff;
$color-grey: #f3f3f3;
$color-dark-grey: #333;
$color-yellow: #ebc339;
$color-border-form: #d9d9d9;

//font 
$font-GothamBlack: 'GothamProBlack';
$font-GothamBold: 'GothamProBold';
$font-GothamReg: 'GothamProRegular';
$font-GothamLight: 'GothamProLight';

//media
$screen-sm-min: 768px; 
$screen-sm-max: 991px;
$screen-md-min: 992px;
$screen-md-max: 1199px;
$screen-xs-max: 767px;